body {
  margin: 0;
}

header {
  height: 130px;
  border: slategrey solid 0.2px;
  text-align: center;
}

.header-title h1 {
  float: left;
  margin: 0;
  padding-left: 80px;
}

main {
  margin: 0 auto;
}

.header-list {
  padding-top: 10px;
  float: right;
}

.menu-list {
  padding-left: 15px;
  text-align: center;
}

.menu-list li {
  list-style: none;
  float: left;
  padding-left: 30px;
}
footer {
  height: 50px;
  font-size: 15px;
  background-color: #808080;
}
.footer p {
  float: left;
  margin: 0;
  padding-left: 80px;
  padding-right: 80px;
}

.footer {
  padding-top: 10px;
}
.footer-icon-list {
  list-style: none;
  padding-left: 5px;
  padding-left: 80px;
}

.footer-icon-list li {
  float: left;
  padding-left: 10px;
}

.footer-text-list li {
  list-style: none;
  float: right;
  padding-right: 15px;
}
